@model IEnumerable<GameMillionare_MVC_.Models.Answer>

@{
    ViewBag.Title = "ProcessGame";
}
<asp:ScriptManager ID="smMain" runat="server" EnablePageMethods="true" />
<script>
        var test = @ViewBag.HelpInfo
        var score = @ViewBag.Score

            function hide() {
            test = 1;
            var btn = document.getElementsByClassName('btn');
            document.querySelector(".mainbtn").className = "hide";
             /*   document.querySelector('.btn').className = 'hide'*/
            for (var button of btn) {
                if (button.value != 1) button.className = 'hide'
            }
            //for (var button in btn) {
            //    if (button.Correct != 1) button.className = 'hide'
            //}

            }
            function checkHelp(id) {
                if (test === 1 || document.getElementById(id).value === 1) document.getElementById(id).value = "true";
                else if (test === 1 || document.getElementById(id).value === 0) document.getElementById(id).value = "false";
            }
            function check() {
                document.querySelector(".score").textContent ="Ваш счет"+ score
                if (test === 0) return;
                else if (test === 1) {
                    document.querySelector(".mainbtn").className = "hide";
            
                }
            }
</script>
<style>
    .hide {
        display: none;
    }
</style>
<body onload="check()">


    <button onclick="hide()" name="helpbt" class="mainbtn" title="Убрать 2 ответа">HELP</button>


    <div>
        <pr class="score">
            Ваш счет
        </pr>
    </div>
    <div class="divMain">
        @foreach (var question in Model)
        {
            <pr>@question.Question.Text</pr>
            break;
        }
        @using (Html.BeginForm("/ProcessGame", "Game", FormMethod.Get))
        {
            foreach (var answer in Model)
            {

                <button value="@answer.Correct" onclick="checkHelp('@answer.Id')" id="@answer.Id" class="btn" name="startGame">
                    @answer.Text
                </button>
            }
        }
    </div>


</body>


